certifi==2025.4.26
charset-normalizer==3.4.2
datadog-api-client==2.35.0
idna==3.10
pantilthat==0.0.7
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
typing_extensions==4.13.2
urllib3==2.4.0
